@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #21209C;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    background-color: #23120B;
}

.cabeçalho-imagem {
    height: 150px;
}

.cabeçalho-menu {
    display: flex;
    gap: 70px;
}

.cabeçalho-menu-topico {
    font-family: 'Nunito', sans-serif;
    color: #EBCB2B;
    font-weight: 700;
    font-size: 20px;
}

.conteudo {
    border-top: 2px solid #FDB827;
    margin-bottom: 48px;

}

.conteudo-central {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-central-escrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.conteudo-central-escrito-titulo {
    font-family: 'Nunito', sans-serif;
    color: #EBCB2B;
    font-weight: 700;
    font-size: 65px;
}

.conteudo-central-escrito-subtitulo {
    font-family: 'Nunito', sans-serif;
    color: #F1F1F1;
    font-weight: 400;
    font-size: 25px;
}

.conteudo-central-botao {
    background-color: #23120B;
    width: 180px;
    height: 70px;
    border: none;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    color: #19104E;
    font-weight: 700;
    font-size: 25px;
    color: #EBCB2B;

 }

 .conteudo-central-imagem {
     height: 450px;
 }

 .conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top:40px;

 }

 .conteudo-secundario-titulo {
    font-family: 'Nunito', sans-serif;
    color: #23120B;
    font-weight: 900;
    font-size: 35px;

 }

 .conteudo-secundario-texto {
    font-family: 'Nunito', sans-serif;
    color: #EBCB2B;
    font-weight: 700;
    font-size: 20px;
 }

 .conteudo-secundario-imagem {
    display: flex;
    justify-content: center;
    gap: 2px;
 }

 .rodape {
     padding: 0.4px;
     border-top: 10px solid #FDB827;
    
 }

 .rodape-imagem {
     height: 200px;
     display: block;
     margin: 0 auto; 
 }